:root {
  --cBlack: #000000;
  --cWhite: #ffffff;
  --color1: #cbcbcb;
  --color2: #ffff00;
  --color3: #00ffff;
  --color4: #00ff00;
  --color5: #ff00ff;
  --color6: #ff0000;
  --color7: #0000ff;
  --iconsize: 30px; }

/* ---------- Base Style ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 8px;
  height: 0px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #000; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* ---------- Lists ---------- */
li {
  list-style: none; }

a {
  text-decoration: none; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0; }

ol, ul {
  padding-left: 0; }

p {
  margin-bottom: 0; }

a {
  color: #000000;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

/* ---------- Inputs ---------- */
input {
  outline: none;
  border: none; }

input:focus {
  outline: 0; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

button {
  border: none;
  text-decoration: none;
  cursor: pointer; }

button:focus {
  outline: 0; }

textarea {
  outline: none;
  border: none; }

textarea:focus {
  border-color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

input[type="radio"] {
  display: none; }

.c-c1 {
  color: #cbcbcb; }

.c-c2 {
  color: #ffff00; }

.c-c3 {
  color: #00ffff; }

.c-c4 {
  color: #00ff00; }

.c-c5 {
  color: #ff00ff; }

.c-c6 {
  color: #ff0000; }

.c-c7 {
  color: #0000ff; }

.shadow, .artist .artist__img {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

@font-face {
  font-family: 'icomoon';
  src: url("./assets/fonts/icomoon.eot?cqjjby");
  src: url("./assets/fonts/icomoon.eot?cqjjby#iefix") format("embedded-opentype"), url("./assets/fonts/icomoon.ttf?cqjjby") format("truetype"), url("./assets/fonts/icomoon.woff?cqjjby") format("woff"), url("./assets/fonts/icomoon.svg?cqjjby#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-shopping-bag:before {
  content: "\e90b";
  color: #000000;
  font-size: 40px; }

.icon-facebook:before {
  content: "\e900";
  color: #4267b2; }

.icon-instagram:before {
  content: "\e901";
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.icon-soundcloud:before {
  content: "\e902";
  color: #ff641d;
  font-size: 35px;
  /* lo hice asi para que el icono sea mas proporcianl a los demas y a la vez se acomode en responsive */ }

.icon-spotify:before {
  content: "\e903";
  color: #1db954; }

.icon-twitter:before {
  content: "\e904";
  color: #1da1f2; }

.icon-youtube .path1:before {
  content: "\e905";
  color: #282828; }

.icon-youtube .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: #282828; }

.icon-youtube .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: #282828; }

.icon-youtube .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: red; }

.icon-youtube .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: red; }

.icon-youtube .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: red; }

/* ---------- Fonts ---------- */
/* @font-face {
    font-family: 'Alien-League-2';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/alienleagueiibold.ttf') format('truetype')
}
 */
@font-face {
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/MonumentExtended-Light.otf") format("opentype"); }

@font-face {
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/MonumentExtended-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'MonumentExtended';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/MonumentExtended-Black.otf") format("opentype"); }

.f-text, .f-subtitle, .new-music .new-music__subtitle, .f-subtitle2, .suscribe .suscribe__subtitle {
  font-family: 'Montserrat', sans-serif; }

.f-monument, .f-title, .new-music .new-music__title, .our-artists .our-artists__box .our-artists__title, .playlists .playlists__title, .radio .radio__title, .radio .radio__list .radio__item .radio__num, .f-title2, .suscribe .suscribe__title, .f-headline, .artist .artist__name, .nav .nav__list .nav__item .nav__link {
  font-family: "MonumentExtended", Helvetica, Roboto, Arial, sans-serif; }

.f-title, .new-music .new-music__title, .our-artists .our-artists__box .our-artists__title, .playlists .playlists__title, .radio .radio__title, .radio .radio__list .radio__item .radio__num {
  font-size: clamp(2.2rem, 5vw, 2.5rem);
  line-height: calc(120%);
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #000000;
  margin-bottom: 2rem;
  text-align: center; }

.f-title2, .suscribe .suscribe__title {
  font-size: clamp(1.6rem, 5vw, 2rem);
  line-height: calc(120%);
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #000000;
  text-align: center; }

.f-subtitle, .new-music .new-music__subtitle {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  line-height: calc(150%);
  font-weight: 500;
  letter-spacing: normal;
  color: #1c1c1c;
  margin-bottom: 2rem;
  text-align: center; }

.f-subtitle2, .suscribe .suscribe__subtitle {
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  line-height: calc(120%);
  font-weight: 500;
  letter-spacing: normal;
  color: #1c1c1c;
  text-align: center; }

.f-headline, .artist .artist__name {
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  line-height: calc(150%);
  font-weight: 500;
  letter-spacing: normal;
  color: #1c1c1c;
  margin-bottom: 1rem; }

.newmusic__album-title,
.artist__name,
.merch__item-name {
  font-size: 1.75rem;
  letter-spacing: 0.048rem;
  line-height: calc(150%);
  -webkit-text-stroke: 0.2px black; }

.newmusic__artist,
.merch__item-price {
  font-size: 1.5rem;
  letter-spacing: 0.032rem;
  line-height: calc(110%);
  -webkit-text-stroke: 0.2px black; }

/* -------------------- Header / Navbar -------------------- */
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header .header__logo-burger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    z-index: 2; }
  .header .header__logo img {
    max-height: 42px;
    content: url(./assets/image/owsla.png); }

/* ---------- Burger ---------- */
#burger {
  display: none; }

.burger-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 34px;
  width: 34px;
  cursor: pointer; }
  .burger-btn .burger {
    position: relative;
    width: 22px; }
    .burger-btn .burger::before {
      top: -10px;
      width: 34px;
      transition: all .5s; }
    .burger-btn .burger::after {
      top: 10px;
      width: 28px;
      transition: all .5s; }
  .burger-btn .burger,
  .burger-btn .burger::before,
  .burger-btn .burger::after {
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff; }
  .burger-btn .burger::before,
  .burger-btn .burger::after {
    content: "";
    position: absolute;
    right: 0; }

#burger:checked + .header__logo-burger > .burger-btn > .burger {
  width: 0; }

#burger:checked + .header__logo-burger > .burger-btn > .burger::before {
  top: 0;
  width: 34px;
  transform: rotate(-45deg);
  transition: all .5s; }

#burger:checked + .header__logo-burger > .burger-btn > .burger::after {
  top: 0;
  width: 34px;
  transform: rotate(45deg);
  transition: all .5s; }

/* ---------- Navbar ---------- */
.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all 1s;
  max-height: 0;
  overflow: hidden; }
  .nav--column {
    flex-direction: column;
    align-items: flex-start; }
  .nav .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0; }
    .nav .nav__list .nav__item {
      display: flex;
      width: 100%;
      margin: -1px 1rem; }
      .nav .nav__list .nav__item .nav__link {
        position: relative;
        color: #000000;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 500;
        line-height: calc(150%);
        width: 100%;
        text-align: center;
        padding: 1rem; }
        .nav .nav__list .nav__item .nav__link::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 4px;
          border-radius: 5px;
          transition: all .5s; }

#burger:checked ~ .nav {
  max-height: 100%;
  transition: all 1s; }

.nav__item:nth-child(1),
.nav__item:nth-child(1).nav__item--active .nav__link::after,
.nav__item:nth-child(1) .nav__link:hover::after {
  background-color: var(--color1);
  width: 100%; }

.nav__item:nth-child(2),
.nav__item:nth-child(2).nav__item--active .nav__link::after,
.nav__item:nth-child(2) .nav__link:hover::after {
  background-color: var(--color2);
  width: 100%; }

.nav__item:nth-child(3),
.nav__item:nth-child(3).nav__item--active .nav__link::after,
.nav__item:nth-child(3) .nav__link:hover::after {
  background-color: var(--color3);
  width: 100%; }

.nav__item:nth-child(4),
.nav__item:nth-child(4).nav__item--active .nav__link::after,
.nav__item:nth-child(4) .nav__link:hover::after {
  background-color: var(--color4);
  width: 100%; }

.nav__item:nth-child(5),
.nav__item:nth-child(5).nav__item--active .nav__link::after,
.nav__item:nth-child(5) .nav__link:hover::after {
  background-color: var(--color5);
  width: 100%; }

.nav__item:nth-child(6),
.nav__item:nth-child(6).nav__item--active .nav__link::after,
.nav__item:nth-child(6) .nav__link:hover::after {
  background-color: var(--color6);
  width: 100%; }

.nav__item:nth-child(7),
.nav__item:nth-child(7).nav__item--active .nav__link::after,
.nav__item:nth-child(7) .nav__link:hover::after {
  background-color: var(--color7);
  width: 100%; }

.nav__solcial-media {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .nav__solcial-media .nav__icon {
    margin: 1rem 0.5rem; }
    .nav__solcial-media .nav__icon a {
      font-size: var(--iconsize);
      padding: .5rem; }

.nav__icon--color a i:before, .nav__icon--color a i span:before {
  color: var(--cWhite);
  -webkit-text-fill-color: var(--cWhite); }

.nav__solcial-media--column {
  flex-direction: column; }

.nav__link--color, .nav__link--color:hover {
  color: var(--cWhite);
  -webkit-text-stroke: 0; }

.nav__link--color:hover::after {
  display: none; }

@media screen and (min-width: 1024px) {
  /* -------------------- Header / Navbar -------------------- */
  .header {
    justify-content: space-between;
    padding: 2rem 1rem 3rem; }
    .header .header__logo-burger {
      width: fit-content;
      padding: 0; }
      .header .header__logo-burger .header__logo img {
        max-height: 100px;
        content: url(./assets/image/owslaLogo.svg); }
  /* ---------- Burger ---------- */
  .burger {
    display: none; }
  .burger-btn {
    display: none; }
  /* ---------- Navbar ---------- */
  .nav {
    flex-direction: row;
    position: relative;
    top: 0;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    max-height: 100%; }
    .nav--column {
      flex-direction: column;
      align-items: flex-start; }
    .nav .nav__list {
      flex-direction: row;
      width: fit-content; }
      .nav .nav__list .nav__item {
        display: flex;
        width: 100%;
        margin: 0 1rem; }
        .nav .nav__list .nav__item .nav__link {
          padding: 0;
          color: #ffffff;
          -webkit-text-stroke: 0.5px #ffffff; }
          .nav .nav__list .nav__item .nav__link::after {
            bottom: -8px; }
  .nav__item:nth-child(1),
  .nav__item:nth-child(2),
  .nav__item:nth-child(3),
  .nav__item:nth-child(4),
  .nav__item:nth-child(5),
  .nav__item:nth-child(6),
  .nav__item:nth-child(7) {
    background-color: transparent; }
  .nav__solcial-media--hidden {
    display: none; } }

@media screen and (min-width: 1280px) {
  /* -------------------- Header / Navbar -------------------- */
  .header {
    padding: 2rem 3rem 3rem; }
    .header .header__logo-burger {
      margin-right: 3%; }
  /* -------------------- Header / Navbar -------------------- */
  .nav {
    justify-content: space-between;
    width: 100%; }
  .nav__solcial-media {
    display: flex; } }

/* ---------- Footer ---------- */
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 1.5rem;
  background-color: var(--cBlack); }
  .footer .nav {
    align-items: center; }
    .footer .nav .footer__link {
      margin-bottom: 3rem; }
      .footer .nav .footer__link .footer__img {
        width: 200px; }
  .footer .footer__copyright {
    color: var(--cWhite);
    font-size: 1.5rem;
    line-height: 150%;
    font-weight: 500; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  display: grid;
  grid-template-areas: 'line'  'line-grey'  'header' 'main' 'footer';
  background-image: url(./assets/image/background1.png);
  background-repeat: repeat-x;
  background-size: 74px; }

@media screen and (min-width: 1020px) {
  body {
    background-size: 180px; } }

/* ---------- Line ---------- */
.line {
  grid-area: line;
  min-height: 10px;
  width: 100%;
  z-index: 3;
  display: none;
  background: linear-gradient(to right, #cbcbcb 14.286%, #ffff00 14.286% 28.57%, #00ffff 28.57% 42.85%, #00ff00 42.85% 57.142%, #ff00ff 57.142% 71.428%, #ff0000 71.428% 85.714%, #0000ff 85.714% 100%); }

.line2 {
  grid-area: line;
  min-height: 10px;
  width: 100%;
  z-index: 3; }

.line3 {
  height: 2px !important;
  width: 100%;
  background: #000000;
  opacity: 1;
  margin: 1.2rem 1.2rem 1.2rem 2rem; }

/* .line-grey {
    grid-area: line-grey;
    min-height: 24px;
    width: 100%;
    z-index: 3;
    display: none;
    background: linear-gradient(to right,
            #f3f3f3 14.286%,
            #d5d5d5 14.286% 28.57%,
            #aeaeae 28.57% 42.85%,
            #797979 42.85% 57.142%,
            #616161 57.142% 71.428%,
            #373737 71.428% 85.714%,
            #1c1c1c 85.714% 100%);
} */
main {
  grid-area: main;
  width: 100vw;
  min-width: 360px;
  flex: 1; }

section {
  margin-bottom: 8rem; }

/* ------------------------------------------------------------------- */
.main-music_title,
.main-artists__title,
.main-radio__title,
.main-videos__title,
.main-about__title,
.main-merch__title,
.main-contact__title {
  font-size: 2.625rem;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 1.25rem; }

.music__releases, .about__article, .artists__artists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.contact__suscribe-title,
.contact__demo-title,
.contact__description-title {
  font-size: 1.75rem;
  line-height: 150%;
  margin-bottom: 1rem;
  -webkit-text-stroke: 0.5px black; }

.main-music,
.main-artists,
.main-radio,
.main-video,
.main-merch,
.main-about,
.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-music,
.main-artists,
.main-radio,
.main-video,
.main-merch,
.main-contact {
  padding: 0 1rem; }

.index {
  background-image: url(./assets/image/background1.png), url(./assets/image/background1.png);
  background-repeat: repeat-x, repeat-x;
  background-position: 0 top, 0 250px;
  background-size: 256px; }

/* -------------------- Home -------------------- */
.main-index {
  display: grid;
  grid-template-areas: 'banner' 'new-music' 'artists' 'playlists' 'radio' 'suscribe';
  margin-top: .5rem; }

/* ---------- Banner ---------- */
.banner {
  grid-area: banner;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center;
  width: 100%; }

/* -------------------- Slider -------------------- */
.slider {
  display: flex;
  flex-direction: column;
  /* ---------- Slider nav ---------- */ }
  .slider .slider__videos {
    position: relative;
    /* animation: slide 20s ease infinite; */ }
    .slider .slider__videos .slider__box-video {
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0;
      position: relative;
      transition: all ease-in-out .5s; }
      .slider .slider__videos .slider__box-video .slider__video {
        height: 100%;
        width: 100%;
        min-height: 550px;
        max-height: 650px;
        object-fit: cover; }
      .slider .slider__videos .slider__box-video .slider__box-info {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        z-index: 1;
        width: 100%;
        min-height: 350px;
        padding: 2rem 3rem;
        background: black;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%); }
        .slider .slider__videos .slider__box-video .slider__box-info .slider__title {
          font-family: 'MonumentExtended';
          font-size: clamp(2.5rem, 5vw, 3.5rem);
          font-weight: 700;
          letter-spacing: 0.3rem;
          color: #ffffff; }
          .slider .slider__videos .slider__box-video .slider__box-info .slider__title .slider__subtitle {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 1rem; }
            .slider .slider__videos .slider__box-video .slider__box-info .slider__title .slider__subtitle::before {
              content: "|";
              margin-right: 1rem; }
          .slider .slider__videos .slider__box-video .slider__box-info .slider__title .slider__title--outline {
            font-size: clamp(1.25rem, 5vw, 2.25rem);
            margin-left: .1rem;
            color: transparent;
            -webkit-text-stroke: 1.5px #ffffff; }
        .slider .slider__videos .slider__box-video .slider__box-info .slider__btn {
          font-family: 'MonumentExtended';
          font-size: clamp(0.8rem, 3.5vw, 1rem);
          padding: 1rem 1.5rem;
          line-height: calc(150%);
          letter-spacing: 0.3rem;
          white-space: nowrap;
          background: transparent;
          color: #ffffff;
          border: solid 2px #ffffff;
          transition: ease-in-out .3s;
          cursor: pointer;
          margin-bottom: 1rem;
          -webkit-text-stroke: medium;
          text-transform: uppercase;
          font-weight: 300; }
          .slider .slider__videos .slider__box-video .slider__box-info .slider__btn:hover {
            background: #ffffff;
            color: #000000;
            -webkit-text-stroke: 0.5px #000000;
            transition: ease-in-out .5s;
            -webkit-text-stroke: medium; }
    .slider .slider__videos #video1 .slider__subtitle::before {
      color: #ffff00; }
    .slider .slider__videos #video2, .slider .slider__videos #video3 {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: auto;
      margin-bottom: auto; }
      .slider .slider__videos #video2 .slider__subtitle::before, .slider .slider__videos #video3 .slider__subtitle::before {
        color: #ff00ff; }
    .slider .slider__videos #radio1:checked ~ #video1,
    .slider .slider__videos #radio2:checked ~ #video2,
    .slider .slider__videos #radio3:checked ~ #video3 {
      opacity: 1;
      transition: all ease-in-out .5s; }
  .slider .slider__nav .slider__link {
    border: 2px solid #000000;
    height: 16px;
    width: 18px;
    cursor: pointer;
    transition: 1s;
    position: relative;
    margin-top: 1rem; }
  .slider .slider__nav .active {
    width: 100%; }
  .slider .slider__nav .slider__link.active::after {
    content: " ";
    height: 101%;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    animation: carousel-active-nav-item 15s linear; }
  .slider .slider__nav .slider__link:not(:last-child) {
    margin-right: 24px; }
  .slider .slider__nav .slider__link:hover, .slider .slider__nav .active2 {
    background: #000000;
    width: 100%; }

@keyframes carousel-active-nav-item {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .slider .slider__nav .slider__link {
    width: 33.33333333%; }
  .slider .slider__nav .slider__link:hover, .slider .slider__nav .active2 {
    width: 40%; } }

/*#t=30*/
/* -------------------- New Music -------------------- */
.new-music {
  grid-area: new-music;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5%; }
  .new-music .new-music__title {
    grid-column: span 6;
    justify-self: center; }
  .new-music .new-music__subtitle {
    grid-column: span 6;
    justify-self: center;
    text-align: center;
    max-width: 800px; }
  .new-music .new-music__album {
    align-items: center;
    grid-column: span 6;
    margin: 0rem 1rem 3rem; }
    .new-music .new-music__album .new-music_link {
      width: fit-content;
      position: relative;
      transition: all ease-in-out .5s; }
      .new-music .new-music__album .new-music_link:hover .new-music__img {
        filter: brightness(0.3) hue-rotate(30deg);
        transition: all ease-in-out .5s; }
      .new-music .new-music__album .new-music_link:hover::after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); }
      .new-music .new-music__album .new-music_link::after {
        opacity: 0;
        content: "Listen now";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        background: #ffffff;
        font-family: 'MonumentExtended';
        font-size: clamp(0.8rem, 3.5vw, 1rem);
        line-height: calc(150%);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        white-space: nowrap;
        padding: 1rem 1.5rem;
        color: #000000;
        transition: all ease-in-out .5s; }
      .new-music .new-music__album .new-music_link .new-music__img {
        width: 100%;
        max-width: 500px;
        position: relative; }

@media screen and (min-width: 768px) {
  .new-music__album:nth-child(3),
  .new-music__album:nth-child(4),
  .new-music__album:nth-child(5) {
    margin-top: 100px; }
  .new-music__album:nth-child(3) {
    transform: translate(0, -30px);
    grid-column: 1 / 4; }
  .new-music__album:nth-child(4) {
    align-self: center;
    grid-row: 3 / 5;
    grid-column: 4 / 7; }
  .new-music__album:nth-child(5) {
    grid-column: 1 / 4; } }

@media screen and (min-width: 1024px) {
  .new-music__album:nth-child(3),
  .new-music__album:nth-child(4),
  .new-music__album:nth-child(5) {
    margin-top: 100px; }
  .new-music__album:nth-child(3) {
    transform: translate(0, -30px);
    grid-column: 1 / 3; }
  .new-music__album:nth-child(4) {
    transform: translate(0, 70px);
    grid-column: 3 / 5; }
  .new-music__album:nth-child(5) {
    grid-column: 5 / 7; } }

.new-music-background {
  grid-area: new-music;
  background-image: url(./assets/image/pawel-czerwinski-OOFSqPWjCt0-unsplash.jpg);
  background-size: cover;
  background-position: top;
  filter: brightness(0.3);
  z-index: -1;
  margin-top: 24rem;
  margin-bottom: 2rem;
  background-repeat: no-repeat; }

/* -------------------- Artists -------------------- */
.our-artists {
  grid-area: artists;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center;
  width: inherit; }
  .our-artists .our-artists__box {
    grid-column: 1;
    grid-row: 1; }
    .our-artists .our-artists__box .our-artists__title {
      margin-left: 1rem;
      text-align: start; }
    .our-artists .our-artists__box .our-artists__scroll-button {
      font-family: monospace;
      display: none;
      width: 40px;
      height: 40px;
      justify-self: end;
      z-index: 1;
      background: transparent;
      padding: 0.4rem 0.7rem 0.7rem 0.7rem;
      font-size: 1.6rem;
      line-height: 1rem;
      border: solid 2px black;
      color: black;
      margin-bottom: 1rem; }
    .our-artists .our-artists__box .line3 {
      display: none; }
  .our-artists .our-artists__list {
    grid-column: 1;
    grid-row: 1;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-left: 1rem; }

.artist {
  scroll-snap-align: start; }
  .artist .artist__img {
    width: 306px;
    height: 400px;
    object-fit: cover;
    cursor: pointer; }
  .artist .artist__name {
    padding: .5rem 0; }
  .artist .artist__info {
    position: absolute;
    right: 0;
    opacity: 0;
    background-color: #000;
    height: 400px;
    padding: .5rem 0;
    transition: all ease-in-out .5s;
    max-width: 0; }
  .artist:hover > .artist__img {
    filter: grayscale(100%);
    transition: all ease-in-out .5s; }
  .artist:hover > .artist__info {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    opacity: 1;
    transition: all ease-in-out .5s; }
  .artist:not(:last-child) {
    margin-right: 2rem; }

@media screen and (min-width: 768px) {
  /* -------------------- Artist -------------------- */
  .artist {
    scroll-snap-align: end; } }

@media screen and (min-width: 768px) {
  /* -------------------- Artists -------------------- */
  .our-artists {
    display: grid; }
    .our-artists .our-artists__box {
      grid-column: 1;
      grid-row: 1;
      margin: 5rem 0; }
      .our-artists .our-artists__box .our-artists__title {
        writing-mode: vertical-rl;
        transform: scale(-1);
        white-space: nowrap;
        margin-left: 0;
        margin-bottom: 0; }
      .our-artists .our-artists__box .our-artists__scroll-button {
        display: block; }
      .our-artists .our-artists__box .line3 {
        display: block; }
    .our-artists .our-artists__list {
      grid-column: 1;
      overflow-x: auto;
      margin-left: 5rem;
      margin-top: 10rem; } }

/* ---------- Playlists / Radio ---------- */
.playlists {
  grid-area: playlists;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding-right: 1rem; }
  .playlists .playlists__title {
    margin-bottom: 3rem;
    grid-column: span 2; }
  .playlists .playlists__list {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15rem 1rem 3rem; }
    .playlists .playlists__list .playlists__img {
      width: 100%;
      max-width: 400px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      transition: all ease-in-out .5s;
      cursor: pointer; }
      .playlists .playlists__list .playlists__img:nth-child(1) {
        position: absolute;
        transform: translate(0, -140px); }
        .playlists .playlists__list .playlists__img:nth-child(1):hover {
          transform: translate(0, -250px); }
        .playlists .playlists__list .playlists__img:nth-child(1):hover ~ :nth-child(2) {
          transform: translate(0, -60px); }
      .playlists .playlists__list .playlists__img:nth-child(2) {
        position: absolute;
        transform: translate(0, -70px); }
        .playlists .playlists__list .playlists__img:nth-child(2):hover {
          transform: translate(0, -180px); }
        .playlists .playlists__list .playlists__img:nth-child(2):hover ~ :nth-child(3) {
          transform: translate(0, 10px); }
      .playlists .playlists__list .playlists__img:nth-child(3) {
        z-index: 1; }
      .playlists .playlists__list .playlists__img:hover {
        filter: hue-rotate(135deg);
        transition: all ease-in-out .5s; }
  .playlists .playlists__songs {
    grid-column: span 2;
    margin: 2rem 1rem; }
    .playlists .playlists__songs .playlists__iframe {
      min-height: 500px;
      width: 100%;
      height: 100%; }

.playlists-background {
  grid-area: playlists;
  background-image: url(./assets/image/8240fed39b3ab92d4c98b8180845c370.png);
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
  z-index: -1;
  margin-top: 10.5rem;
  margin-bottom: 3rem;
  background-repeat: no-repeat; }

@media screen and (min-width: 1024px) {
  .playlists .playlists__list {
    grid-column: span 1; }
    .playlists .playlists__list .playlists__img {
      max-width: 350px;
      margin-left: 140px; }
      .playlists .playlists__list .playlists__img:nth-child(1) {
        transform: translate(-140px, -140px); }
        .playlists .playlists__list .playlists__img:nth-child(1):hover {
          transform: translate(-140px, -250px); }
        .playlists .playlists__list .playlists__img:nth-child(1):hover ~ :nth-child(2) {
          transform: translate(-60px, -60px); }
      .playlists .playlists__list .playlists__img:nth-child(2) {
        transform: translate(-70px, -70px); }
        .playlists .playlists__list .playlists__img:nth-child(2):hover {
          transform: translate(-70px, -180px); }
        .playlists .playlists__list .playlists__img:nth-child(2):hover ~ :nth-child(3) {
          transform: translate(10px, 10px); }
      .playlists .playlists__list .playlists__img:nth-child(3) {
        z-index: 1; }
      .playlists .playlists__list .playlists__img:hover {
        filter: hue-rotate(135deg);
        transition: all ease-in-out .5s; }
  .playlists .playlists__songs {
    grid-column: span 1;
    margin: 2rem 4rem; } }

.radio {
  grid-area: radio;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center;
  width: 100%;
  padding-left: 1rem; }
  .radio .radio__title {
    margin-bottom: 3rem;
    grid-column: span 2; }
  .radio .radio__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%; }
    .radio .radio__list .radio__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 3rem; }
      .radio .radio__list .radio__item .radio__num {
        min-width: 50px;
        font-size: clamp(3rem, 5vw, 3.5rem);
        margin-left: 0.1rem;
        color: transparent;
        -webkit-text-stroke: 1.5px #000000;
        line-height: calc(150%);
        margin-right: 2rem;
        margin-bottom: 0; }

.radio__link:nth-child(1) {
  position: absolute;
  top: 0px;
  right: 5%; }

.radio__link:nth-child(2) {
  position: absolute;
  top: 55px;
  left: 5%; }

.radio__link:nth-child(1):hover {
  z-index: 2;
  animation: card1-in 0.4s cubic-bezier(0.8, 0.2, 0.1, 0.8); }

.radio__link:nth-child(2):hover {
  z-index: 2;
  animation: card2-in 0.4s cubic-bezier(0.8, 0.2, 0.1, 0.8); }

.radio__link:nth-child(3) {
  z-index: 1;
  margin-top: 110px; }

.radio__img {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.radio__link:hover .radio__img {
  filter: brightness(0.5);
  transition: all ease-in-out .5s; }

.radio__link::after {
  opacity: 0;
  content: "Listen Here";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: #ffffff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: var(--cBlack);
  transition: all ease-in-out .5s;
  -webkit-text-stroke: 0.5px black; }

.radio__link:nth-child(3)::after {
  margin-top: 55px; }

.radio__link:hover::after {
  opacity: 1; }

@keyframes card1-in {
  0% {
    z-index: 0; }
  50% {
    transform: translateX(20%); } }

@keyframes card2-in {
  0% {
    z-index: 0; }
  50% {
    transform: translateX(-20%); } }

/* ---------- Suscribe ---------- */
.suscribe {
  grid-area: suscribe;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin: 10rem 0; }
  .suscribe .suscribe__title {
    margin-bottom: 1rem;
    max-width: 800px;
    color: #ffffff; }
  .suscribe .suscribe__subtitle {
    margin-bottom: 3rem;
    color: #ffffff;
    max-width: 500px; }
  .suscribe .suscribe__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    border: solid #ffffff 0px;
    margin: 0 1rem; }
    .suscribe .suscribe__form .suscribe__email {
      font-family: 'MonumentExtended';
      font-size: 1rem;
      line-height: 1.4;
      color: #ffffff;
      display: block;
      width: 100%;
      height: 50px;
      border: solid #ffffff 2px;
      background: transparent;
      padding: 0 1rem; }
      .suscribe .suscribe__form .suscribe__email::placeholder {
        color: #ffffff;
        opacity: .7; }
    .suscribe .suscribe__form .suscribe__btn {
      font-family: 'MonumentExtended';
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      white-space: nowrap;
      padding: 0 1.5rem;
      height: 50px;
      background-color: #ffffff;
      color: #000000;
      border: solid #ffffff 2px;
      margin-top: 2rem;
      cursor: pointer; }

.suscribe-background {
  grid-area: suscribe;
  background-image: url(./assets/image/hin-bong-yeung-jF946mh5QrA-unsplash.jpg);
  background-size: cover;
  filter: brightness(0.7);
  background-position: bottom;
  z-index: -1;
  background-repeat: no-repeat; }

@media screen and (min-width: 768px) {
  .suscribe .suscribe__form {
    flex-direction: row; }
    .suscribe .suscribe__form .suscribe__email {
      font-size: 1.2rem; }
    .suscribe .suscribe__form .suscribe__btn {
      background: rgba(255, 255, 255, 0.2);
      color: #ffffff;
      border-left: 0px;
      margin: 0;
      transition: ease-in-out .3s; }
      .suscribe .suscribe__form .suscribe__btn:hover {
        background: #ffffff;
        color: #000000;
        transition: ease-in-out .5s; } }

/* ------------------------------ About ------------------------------ */
.carousel-inner {
  max-width: 1400px;
  height: 800px; }

.about__img {
  width: 100vw;
  max-width: 1400px;
  object-fit: cover; }

.about__description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  max-width: 1400px;
  font-size: 1.375rem;
  /* 24px */
  letter-spacing: 0;
  /* 0 */
  margin: 0 1rem 1rem 1rem; }

/* ------------------------------ Artists ------------------------------ */
.main-artists__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: calc(1400px + 2rem);
  padding: 0 1rem;
  justify-self: center; }

/* ------------------------------ Contact ------------------------------ */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1400px; }
  .contact .contact__demo .contact__demo-box .contact__demo-file {
    align-self: center;
    position: relative; }
    .contact .contact__demo .contact__demo-box .contact__demo-file::-webkit-file-upload-button {
      visibility: hidden; }
    .contact .contact__demo .contact__demo-box .contact__demo-file::before {
      content: 'Select files';
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: absolute;
      top: -9px;
      font-size: 1.125rem;
      line-height: 1.4;
      font-weight: 700;
      color: black;
      display: inline-block;
      padding: 0.6rem;
      cursor: pointer; }
    .contact .contact__demo .contact__demo-box .contact__demo-file:hover::before {
      color: var(--color7); }
    .contact .contact__demo .contact__demo-box .contact__demo-file:active::before {
      background: transparent; }
  .contact .contact__description .contact__description-box {
    flex-direction: column; }
    .contact .contact__description .contact__description-box .contact__description-textarea {
      padding: 0.6rem; }

.contact .contact__suscribe, .contact .contact__demo, .contact .contact__description {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  padding: 1rem 1.5rem 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
  background: whitesmoke; }

.contact .contact__suscribe .contact__suscribe-box, .contact .contact__demo .contact__demo-box, .contact .contact__description .contact__description-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #ffffff;
  border: solid #000 2px; }

.contact .contact__suscribe .contact__suscribe-box .contact__suscribe-email, .contact .contact__demo .contact__demo-box .contact__demo-file, .contact .contact__description .contact__description-box .contact__description-textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  display: block;
  width: 100%;
  background: #ffffff;
  padding: 0 .6rem; }

.contact .contact__suscribe .contact__suscribe-box .contact__suscribe-btn, .contact .contact__demo .contact__demo-box .contact__demo-btn, .contact .contact__description .contact__description-box .contact__description-btn {
  font-family: Alien-League-2;
  font-size: 1.625rem;
  white-space: nowrap;
  padding: 0 1.5rem;
  height: 46px;
  letter-spacing: 0.078rem;
  background: var(--cBlack);
  color: #ffffff;
  cursor: pointer; }

@media screen and (min-width: 1024px) {
  .contact .contact__suscribe, .contact .contact__demo {
    grid-column: span 1; } }

/* ------------------------------ Merch ------------------------------ */
.filter-carrito {
  display: flex;
  flex-direction: row; }

.merch__shortby-label {
  font-size: 1.5rem;
  letter-spacing: 0.009rem;
  line-height: 150%;
  margin-right: 1rem; }

.merch__shortby-label ~ select {
  padding: .5rem; }

.merch {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%; }

.merch__item {
  display: flex;
  flex-direction: column; }

.merch__img {
  width: 100%; }

.offcanvas-end {
  width: 600px; }

.offcanvas-img {
  width: 200px;
  height: 170px;
  object-fit: cover; }

/* ------------------------------ Music ------------------------------ */
.music {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1400px; }

.music__release {
  position: relative; }

.music__img {
  width: 100%; }

.music__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all ease-in-out 0.5s; }

.music__album-title {
  color: #ffffff;
  margin-bottom: .5rem; }

.music__artist {
  color: #ffffff; }

.music__release:hover .music__name {
  opacity: 1;
  transition: all ease-in-out 0.5s; }

.modal-content {
  border: 0;
  border-radius: 0; }

.modal-body {
  padding: 0;
  height: 500px; }

/* ------------------------------ Redio ------------------------------ */
.main-radio {
  width: 100%;
  max-width: 1400px;
  justify-self: center; }

.radio-episodes * {
  margin-bottom: 1rem; }

/* ------------------------------ Videos ------------------------------ */
.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(618px, 1fr));
  gap: 1rem;
  width: 100%; }

.videos__item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.videos__video {
  aspect-ratio: 16/9;
  max-width: 650px; }

.videos__title-video {
  font-size: 2rem;
  letter-spacing: 0.048rem;
  line-height: 150%;
  margin: 1rem 0; }

@media screen and (min-width: 1024px) {
  :root {
    --iconsize: 24px; }
  [class^="icon-"], [class*=" icon-"] {
    font-size: var(--iconsize); }
  .line {
    display: flex; } }
