@font-face {
    font-family: 'icomoon';
    src: url('./assets/fonts/icomoon.eot?cqjjby');
    src: url('./assets/fonts/icomoon.eot?cqjjby#iefix') format('embedded-opentype'),
        url('./assets/fonts/icomoon.ttf?cqjjby') format('truetype'),
        url('./assets/fonts/icomoon.woff?cqjjby') format('woff'),
        url('./assets/fonts/icomoon.svg?cqjjby#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 30px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
    content: "\e90b";
    color: #000000;
    font-size: 40px;
  }

.icon-facebook:before {
    content: "\e900";
    color: #4267b2;
}

.icon-instagram:before {
    content: "\e901";
    background: radial-gradient(circle at 33% 100%,
            #fed373 4%,
            #f15245 30%,
            #d92e7f 62%,
            #9b36b7 85%,
            #515ecf);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

$iconsize: 30px;

.icon-soundcloud:before {
    content: "\e902";
    color: #ff641d;
    font-size: $iconsize + 5px; /* lo hice asi para que el icono sea mas proporcianl a los demas y a la vez se acomode en responsive */
}

.icon-spotify:before {
    content: "\e903";
    color: #1db954;
}

.icon-twitter:before {
    content: "\e904";
    color: #1da1f2;
}

.icon-youtube .path1:before {
    content: "\e905";
    color: rgb(40, 40, 40);
}

.icon-youtube .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(40, 40, 40);
}

.icon-youtube .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(40, 40, 40);
}

.icon-youtube .path4:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 0, 0);
}

.icon-youtube .path5:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(255, 0, 0);
}

.icon-youtube .path6:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(255, 0, 0);
}

