:root {
    --cBlack: #000000;
    --cWhite: #ffffff;
    --color1: #cbcbcb;
    --color2: #ffff00;
    --color3: #00ffff;
    --color4: #00ff00;
    --color5: #ff00ff;
    --color6: #ff0000;
    --color7: #0000ff;

    --iconsize: 30px;
}


@import "variables";
@import "basestyle";
@import "iconmoon";
@import "fonts";

@import "./components/header";
@import "./components/footer";


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    
    display: grid;
    grid-template-areas:
        'line' 
        'line-grey' 
        'header'
        'main'
        'footer'
    ;
    background-image: url(./assets/image/background1.png);
    background-repeat: repeat-x;
    background-size: 74px;

}

@media screen and (min-width: 1020px) { 
    body {
        background-size: 180px;

    }
}

/* ---------- Line ---------- */

.line {
    grid-area: line;
    min-height: 10px;
    width: 100%;
    z-index: 3;
    display: none;
    background: linear-gradient(to right,
            $color1 14.286%,
            $color2 14.286% 28.57%,
            $color3 28.57% 42.85%,
            $color4 42.85% 57.142%,
            $color5 57.142% 71.428%,
            $color6 71.428% 85.714%,
            $color7 85.714% 100%);
}

.line2 {
    grid-area: line;
    min-height: 10px;
    width: 100%;
    z-index: 3;
}

.line3{
    height: 2px !important;
    width: 100%;
    background: $cBlack;
    opacity: 1;
    margin: 1.2rem 1.2rem 1.2rem 2rem;

}

/* .line-grey {
    grid-area: line-grey;
    min-height: 24px;
    width: 100%;
    z-index: 3;
    display: none;
    background: linear-gradient(to right,
            #f3f3f3 14.286%,
            #d5d5d5 14.286% 28.57%,
            #aeaeae 28.57% 42.85%,
            #797979 42.85% 57.142%,
            #616161 57.142% 71.428%,
            #373737 71.428% 85.714%,
            #1c1c1c 85.714% 100%);
} */


main {
    grid-area: main;
    width: 100vw;
    min-width: 360px;
    flex: 1;
}

section {
    margin-bottom: 8rem;
}




/* ------------------------------------------------------------------- */


.main-music_title,
.main-artists__title,
.main-radio__title,
.main-videos__title,
.main-about__title,
.main-merch__title,
.main-contact__title {
    font-size: 2.625rem;
    line-height: 140%;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.music__releases, .about__article, .artists__artists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contact__suscribe-title,
.contact__demo-title,
.contact__description-title {
    font-size: 1.75rem;  
    line-height: 150%;
    margin-bottom: 1rem;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
}


.main-music,
.main-artists,
.main-radio,
.main-video,
.main-merch,
.main-about,
.main-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-music,
.main-artists,
.main-radio,
.main-video,
.main-merch,
.main-contact{
    padding: 0 1rem;
}

@import "./views/index";
@import "./views/about";
@import "./views/artists";
@import "./views/contact";
@import "./views/merch";
@import "./views/music";
@import "./views/radio";
@import "./views/videos";





.videos__title-video {

    font-size: 2rem;
    letter-spacing: 0.048rem;
    line-height: 150%;
    margin: 1rem 0;
}
















@media screen and (min-width: 1024px) {

    :root{
        --iconsize: 24px;
    }
    [class^="icon-"], [class*=" icon-"] {
        font-size: var(--iconsize);
    }

    .line{
        display: flex;
    }

   



}


