<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="./assets/favicon-owsla.ico" type="image/png" />
    <title>OWSLA | Radio</title>
</head>
<body>

    <span class="line"></span>
    <header class="header">
        <input type="checkbox" name="burger-btn" id="burger">
        <div class="header__logo-burger">
            <a class="header__logo" href="../index.html"> <img alt="OWSLA Logo"></a>
            <label for="burger" class="burger-btn"><div class="burger"></div></label>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="../views/music.html">Music</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../views/artists.html">Artists</a>
                </li>
                <li class="nav__item nav__item--active">
                    <a class="nav__link" href="../views/radio.html">Radio</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../views/videos.html">Videos</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../views/merch.html">Merch</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../views/about.html">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../views/contact.html">Contact</a>
                </li>
            </ul>
            <ul class="nav__solcial-media nav__solcial-media--hidden">
                <li class="nav__icon"><a href="https://soundcloud.com/owslaofficial" target="_blank" rel="noopener noreferrer"><i class="icon-soundcloud"></i></a></li>
                <li class="nav__icon"><a href="https://open.spotify.com/user/owslaofficial?si=af08e69b87934cd4" target="_blank" rel="noopener noreferrer"><i class="icon-spotify"></i></a></li>
                <li class="nav__icon"><a href="https://www.youtube.com/c/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-youtube"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i></a></li>
                <li class="nav__icon"><a href="https://www.instagram.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-instagram"></i></a></li>
                <li class="nav__icon"><a href="https://twitter.com/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-twitter"></i></a></li>
                <li class="nav__icon"><a href="https://www.facebook.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-facebook"></i></a></li>
            </ul>
        </nav>

    </header>

    <main class="main-radio">

    
        <h1 class="main-radio__title">Owsla Radio</h1>


        <section class="d-flex flex-column align-items-center flex-wrap w-100">
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FCreateRadio%2Fowsla-radio-1-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FCreateRadio%2Fowsla-radio-2-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fskrillex-owsla-radio-3-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fskrillex-owsla-radio-4-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fskrillex-owsla-radio-5-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-6-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-7-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-8-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-9-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-10-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-11-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-12-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-13-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-14-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-15-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-16-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-17-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-18-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-19-beats-1%2F" frameborder="0" ></iframe>
            <iframe width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FPAUL_DI%2Fowsla-radio-20-beats-1%2F" frameborder="0" ></iframe>
            
        </section>
        

    </main>

    <footer class="footer">

        <div class="footer__box1">
            <a class="footer__link" href="index.html"> <img class="footer__img" src="../assets/image/owsla.png" alt="OWSLA Logo"></a>
            <nav class="nav nav--column">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/music.html">Music</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/artists.html">Artists</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/radio.html">Radio</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/videos.html">Videos</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/merch.html">Merch</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/about.html">About</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--color" href="../views/contact.html">Contact</a>
                    </li>
                </ul>
                <ul class="nav__solcial-media">
                    <li class="nav__icon nav__icon--color"><a href="https://soundcloud.com/owslaofficial" target="_blank" rel="noopener noreferrer"><i class="icon-soundcloud"></i></a></li>
                    <li class="nav__icon nav__icon--color"><a href="https://open.spotify.com/user/owslaofficial?si=af08e69b87934cd4" target="_blank" rel="noopener noreferrer"><i class="icon-spotify"></i></a></li>
                    <li class="nav__icon nav__icon--color"><a href="https://www.youtube.com/c/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-youtube"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i></a></li>
                    <li class="nav__icon nav__icon--color"><a href="https://www.instagram.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-instagram"></i></a></li>
                    <li class="nav__icon nav__icon--color"><a href="https://twitter.com/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-twitter"></i></a></li>
                    <li class="nav__icon nav__icon--color"><a href="https://www.facebook.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-facebook"></i></a></li>
                </ul>
            </nav>
        </div>
        <p class="footer__copyright">OWSLA © 2022 All Rights Reserved</p>

    </footer>
    <script type="text/javascript">

        document.getElementById('burger').addEventListener("click",  function(){ 

            if(document.getElementById('burger').checked && window.innerWidth < 1024){
                document.body.style.overflow ="hidden";
            }else{
                document.body.style.overflow ="auto";
            }
        });

        window.addEventListener("resize", () => {
            if(window.innerWidth < 1024){
                document.body.style.overflow ="auto";
            }
        });
    


    </script>

</body>
</html>