<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="./assets/favicon-owsla.ico" type="image/png" />
    <title>OWSLA | Videos</title>
</head>
<body>

    <span class="line"></span>
    <header class="header">
        <input type="checkbox" name="burger-btn" id="burger">
        <div class="header__logo-burger">
            <a class="header__logo" href="../index.html"> <img alt="OWSLA Logo"></a>
            <label for="burger" class="burger-btn"><div class="burger"></div></label>
        </div>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a class="navbar__link" href="../views/music.html">Music</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../views/artists.html">Artists</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../views/radio.html">Radio</a>
                </li>
                <li class="navbar__item navbar__item--active">
                    <a class="navbar__link" href="../views/videos.html">Videos</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../views/merch.html">Merch</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../views/about.html">About</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../views/contact.html">Contact</a>
                </li>
            </ul>
            <ul class="navbar__solcial-media navbar__solcial-media--hidden">
                <li class="navbar__icon"><a href="https://soundcloud.com/owslaofficial" target="_blank" rel="noopener noreferrer"><i class="icon-soundcloud"></i></a></li>
                <li class="navbar__icon"><a href="https://open.spotify.com/user/owslaofficial?si=af08e69b87934cd4" target="_blank" rel="noopener noreferrer"><i class="icon-spotify"></i></a></li>
                <li class="navbar__icon"><a href="https://www.youtube.com/c/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-youtube"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i></a></li>
                <li class="navbar__icon"><a href="https://www.instagram.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-instagram"></i></a></li>
                <li class="navbar__icon"><a href="https://twitter.com/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-twitter"></i></a></li>
                <li class="navbar__icon"><a href="https://www.facebook.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-facebook"></i></a></li>
            </ul>
        </nav>

    </header>

    <main class="main-video">
        <h1 class="main-videos__title">Music Videos</h1>
        <section class="videos">
            
            <div class="videos__item">
                <h2 class="videos__title-video">Phonat - Ride The prejudice</h2>
                <iframe class="videos__video" width="100%" height="100%" src="https://player.vimeo.com/video/69070659?h=04fbf82bbb&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                
            </div>
            <div class="videos__item">
                <h2 class="videos__title-video">Salvatore Ganacci - Horse</h2>
                <iframe class="videos__video" width="100%" height="100%" src="https://player.vimeo.com/video/356833202?h=77d0b7a04f&color=ffffff&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                
            </div>
            <div class="videos__item">
                <h2 class="videos__title-video">Hundred Waters - Cavity</h2>
                <iframe class="videos__video" width="100%" height="100%" src="https://player.vimeo.com/video/90878238?h=3eb5158ada&color=fcfcfc&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- ..... Continuar colocando videos  -->
        </section>
    </main>

    <footer class="footer">

        <div class="footer__box1">
            <a class="footer__link" href="index.html"> <img class="footer__img" src="../assets/image/owsla.png" alt="OWSLA Logo"></a>
            <nav class="navbar navbar--column">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/music.html">Music</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/artists.html">Artists</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/radio.html">Radio</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/videos.html">Videos</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/merch.html">Merch</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/about.html">About</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link navbar__link--color" href="../views/contact.html">Contact</a>
                    </li>
                </ul>
                <ul class="navbar__solcial-media">
                    <li class="navbar__icon navbar__icon--color"><a href="https://soundcloud.com/owslaofficial" target="_blank" rel="noopener noreferrer"><i class="icon-soundcloud"></i></a></li>
                    <li class="navbar__icon navbar__icon--color"><a href="https://open.spotify.com/user/owslaofficial?si=af08e69b87934cd4" target="_blank" rel="noopener noreferrer"><i class="icon-spotify"></i></a></li>
                    <li class="navbar__icon navbar__icon--color"><a href="https://www.youtube.com/c/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-youtube"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i></a></li>
                    <li class="navbar__icon navbar__icon--color"><a href="https://www.instagram.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-instagram"></i></a></li>
                    <li class="navbar__icon navbar__icon--color"><a href="https://twitter.com/owsla" target="_blank" rel="noopener noreferrer"><i class="icon-twitter"></i></a></li>
                    <li class="navbar__icon navbar__icon--color"><a href="https://www.facebook.com/owsla/" target="_blank" rel="noopener noreferrer"><i class="icon-facebook"></i></a></li>
                </ul>
            </nav>
        </div>
        <p class="footer__copyright">OWSLA © 2022 All Rights Reserved</p>

    </footer>

    <script type="text/javascript">

        document.getElementById('burger').addEventListener("click",  function(){ 

            if(document.getElementById('burger').checked && window.innerWidth < 1024){
                document.body.style.overflow ="hidden";
            }else{
                document.body.style.overflow ="auto";
            }
        });

        window.addEventListener("resize", () => {
            if(window.innerWidth < 1024){
                document.body.style.overflow ="auto";
            }
        });
    


    </script>
</body>
</html>