.artist{
    scroll-snap-align: start;

    .artist__img {
        width: 306px;
        height: 400px;
        object-fit: cover;
        cursor: pointer;
        @extend .shadow;
    }

    .artist__name{
        @extend .f-headline;
        padding: .5rem 0;
    }

    .artist__info {
        position: absolute;
        right: 0;
        opacity: 0;
        background-color: #000;
        height: 400px;
        padding: .5rem 0;
        transition: all ease-in-out .5s;
        max-width: 0;
    }
    
    &:hover>.artist__img {
        filter: grayscale(100%);
        transition: all ease-in-out .5s;
    }

    &:hover>.artist__info {
        display: flex;
        flex-direction: column;
        max-width: 100px;
        opacity: 1;
        transition: all ease-in-out .5s;
    }

    &:not(:last-child) {
        margin-right: 2rem;
    }

}

@media screen and (min-width: 768px) { 

    /* -------------------- Artist -------------------- */

    .artist{
        scroll-snap-align: end;
    }
}