@import "../variables";

/* ------------------------------ About ------------------------------ */


.carousel-inner{
    max-width: 1400px;
    height: 800px;
}

.about__img{
    width: 100vw;
    max-width: 1400px;
    object-fit: cover;

}

.about__description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1400px;
    font-size: 1.375rem;    /* 24px */
    letter-spacing: 0;    /* 0 */
    margin: 0 1rem 1rem 1rem;


}
