@import "../variables";

/* ------------------------------ About ------------------------------ */

.about__box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100vw;
    max-width: 1000px;
    margin-bottom: 2rem;
    height: 500px;
}

.about__imgs {
    display: flex;
    flex-direction: row;
    animation: slide 20s ease infinite;
}

.about__img{
    width: 100vw;
    max-width: 1000px;
    
    object-fit: cover;

}

.about__description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1000px;
    font-size: 1.375rem;    /* 24px */
    letter-spacing: 0;    /* 0 */
    margin: 0 1rem 1rem 1rem;


}


.carousel-inner{
    max-width: 1000px;
}



/* ---------- animacion solo con css ---------- */

@keyframes slide {
    10% {
        margin-left: 0px;
    }

    20% {
        transform: translate(-25%);
    }

    35% {
        transform: translate(-25%);
    }

    50% {
        transform: translate(-50%);
    }

    60% {
        transform: translate(-50%);
    }

    70% {
        transform: translate(-75%);
    }

    80% {
        transform: translate(-75%);
    }

}

