@import "../variables";



/* ------------------------------ Artists ------------------------------ */


$artists-grid: minmax(330px, 1fr);

.main-artists{

    .main-artists__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 600px;
        object-fit: cover;
        background: url(./assets/image/fondo2.jpg);
        background-size: cover;
        background-position: center;
        clip-path: polygon(0% 0%, 100% 0%,100% 80%,0% 100%);
        animation: move 160s infinite;
        
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(black, transparent);
        }
    }

    @keyframes move {
        0% {
            background-position: bottom;
        }

        50% {
            background-position: top;
        }
        
        100% {
            background-position: bottom;
        }
    }
    



    .main-artists__title{
        @extend .f-monument;
        @extend .f-bt2;
        color:$cWhite;
        
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
        text-transform: uppercase;
        white-space: nowrap;
        &::before{
            content: "-";
            @extend .f-bt2;
            color:$cWhite;
            margin-right: 3rem;
        }

        &::after{
            content: "-";
            @extend .f-bt2;
            color:$cWhite;
            margin-left: 3rem;
        }
    }

    .main-artists__list{
        @extend .container-full;
        background: $cWhite;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, $artists-grid);
        gap: 2rem;
    }
    
}


.artist{
    scroll-snap-align: start;

    .artist__img {
        width: 320px;
        height: 450px;
        object-fit: cover;
        cursor: pointer;
        @extend .shadow;
    }

    .artist__name{
        @extend .f-monument;
        @extend .f-hl1;
        line-height: calc(140%);
        letter-spacing: 0.05rem;
        color: $cBlack;
        padding: .75rem 0;
    }

    .artist__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        opacity: 0;
        background-color: #000;
        height: 450px;
        padding: .5rem 0;
        transition: all ease-in-out .5s;
        max-width: 0;
    
    }
    
    &:hover>.artist__img {
        filter: grayscale(100%);
        transition: all ease-in-out .5s;
    }

    &:hover>.artist__info {
        
        max-width: 100px;
        opacity: 1;
        transition: all ease-in-out .5s;
    }

    &:not(:last-child) {
        margin-right: 2rem;
    }

}

.modal-title{
    @extend .f-monument;
    @extend .f-t2;
}

@media screen and (min-width: 768px) { 

    .artist{
        scroll-snap-align: end;
    }
}
