@import "../variables";



/* ------------------------------ Artists ------------------------------ */
.main-artists__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, $min);
    gap: 1rem;
    width: 100%;
    @include container-center;   
}

