@import "../variables";

/* ------------------------------ Contact ------------------------------ */


.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1400px;

    .contact__suscribe {
        @extend %contact_box1;

        .contact__suscribe-box{
            @extend %contact_box2;

            .contact__suscribe-email{
                @extend %contact_box3;
            }

            .contact__suscribe-btn{
                @extend %contact_box4;
            }
        }

    }
    
    .contact__demo {
        @extend %contact_box1;
        
        .contact__demo-box{
            @extend %contact_box2;

            .contact__demo-file{
                @extend %contact_box3;

                align-self: center;
                position: relative;
            
                &::-webkit-file-upload-button {
                    visibility: hidden;
                }
            
                &::before {
                    content: 'Select files';
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    position: absolute;
                    top: -9px;
                    font-size: 1.125rem;
                    line-height: 1.4;
                    font-weight: 700;
                    color: black;
                    display: inline-block;
                    padding: 0.6rem;
                    cursor: pointer;
                
                }
            
                &:hover::before {
                    color: var(--color7);
                }
            
                &:active::before {
                    background: transparent
                }
            }

            .contact__demo-btn{
                @extend %contact_box4;
            }
        }
    }
    
    .contact__description {
        @extend %contact_box1;

        .contact__description-box {
            @extend %contact_box2;
            flex-direction: column;

            .contact__description-textarea {
                @extend %contact_box3;
                padding: 0.6rem;
            }

            .contact__description-btn {
                @extend %contact_box4;
            }

        }

    }

}



%contact_box1{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    padding: 1rem 1.5rem 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background: whitesmoke;
}

%contact_box2{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: $cWhite;
    border: solid #000 2px;
}

%contact_box3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
    display: block;
    width: 100%;
    background: $cWhite;
    padding: 0 .6rem;
}

%contact_box4{
    font-family: Alien-League-2;
    font-size: 1.625rem;
    white-space: nowrap;
    padding: 0 1.5rem;
    height: 46px;
    letter-spacing: 0.078rem;
    background: var(--cBlack);
    color: $cWhite;
    cursor: pointer;
}



@media screen and (min-width: 1024px) {

    .contact {
        .contact__suscribe, .contact__demo{
            grid-column: span 1;
        }
    }
}





