@import "../variables";

/* ------------------------------ Contact ------------------------------ */

.main-contact__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: url(./assets/image/fondo5.jpg);
    background-size: cover;
    background-position: center;
    animation: move 160s infinite;
    filter: hue-rotate(225deg);
    
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(black, transparent);
    }
}

.main-contact{

    .main-contact__title{
        @extend .f-monument;
        @extend .f-bt2;
        font-weight: 500;
        color:$cWhite;
        
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
        text-transform: uppercase;
        white-space: nowrap;

        
        &::before{
            content: "-";
            @extend .f-bt2;
            color:$cWhite;
            margin-right: 3rem;
        }

        &::after{
            content: "-";
            @extend .f-bt2;
            color:$cWhite;
            margin-left: 3rem;
        }
    }
}


.contact_form{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;

    @include respond(md) {
        grid-column: span 1;
        
    }

}

.contact_title{
    @extend .f-title2;
    @extend .f-t2;
    color: $cWhite;
    margin: 2rem;
}


.contact{
    @extend .container-full;

    .contact__box{

        display: grid;
        grid-template-areas:    'suscribe'
                                'demo'
                                'description';

        @include respond(md) {
            border: solid 2px white;
            backdrop-filter: blur(4px);

            grid-template-areas:    'img suscribe'
                                    'img demo'
                                    'img description';
            
        }

        .contact__img{
            display: none;
            grid-area: img;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-right: solid 2px white;

            @include respond(md) {
                display: flex;
                
            }
        }

        .contact__suscribe {
            grid-area: suscribe;
            @extend .contact_form;

            @include respond(md) {
                padding: 0 3rem;
                
            }

            .contact__suscribe-title{
                @extend .contact_title;
            }

            .contact__suscribe-box{
                @extend .formulario__form;

                .contact__suscribe-email{
                    @extend .formulario__input;
                }

                .contact__suscribe-btn{
                    @extend .formulario__btn;
                    @include respond(sm) {
                        border-left: 0;
                        margin: 0;
                        
                    }
                }
            }

        }
        
        .contact__demo {
            grid-area: demo;
            @extend .contact_form;

            @include respond(md) {
                padding: 1rem 3rem;
                
            }

            .contact__demo-title{
                @extend .contact_title;
            }
            
            .contact__demo-box{
                @extend .formulario__form;

                .contact__demo-file{
                    @extend .formulario__input-file;
                }

                .contact__demo-btn{
                    @extend .formulario__btn;
                    @include respond(sm) {
                        border-left: 0;
                        margin: 0;
                        
                    }
                }
            }
        }
        
        .contact__description {
            grid-area: description;
            @extend .contact_form;

            @include respond(md) {
                padding: 1rem 3rem;
                
            }

            .contact__description-title{
                @extend .contact_title;
            }
            

            .contact__description-box {
                @extend .formulario__form;
                flex-direction: column;

                .contact__description-textarea {
                    @extend .formulario__input-textarea;
                }

                .contact__description-btn {
                    @extend .formulario__btn;
                    @include respond(sm) {
                        border-top: 0;
                        margin: 0;
                        
                    }
                }

            }

        }
    }
}

