@import "../variables";


.main-index{
    display: grid;
    grid-template-areas:
        'banner'
        'new-music'
        'artists'
        'playlists'
        'radio'
        'suscribe'
        ;
        margin-top: .5rem;

    .main-index__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 600px;
        object-fit: cover;
        background: url(./assets/image/main-index.jpg);
        background-size: cover;
        background-position: center;
        animation: multcolor 30s infinite, move 160s infinite;
        
        
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(black, transparent);
        }
    }
}


/* -------------------- Banner -------------------- */

.banner{
    grid-area: banner;
    @extend .container-center;
    width: 100%;
}

.slider{
    display: flex;
    flex-direction: column;


    .slider__videos {
        position: relative;
        /* animation: slide 20s ease infinite; */
        
        .slider__box-video{
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            position: relative;
            transition: all ease-in-out .5s;

            .slider__video {
                height: 100%;
                width: 100%;
                min-height: 550px;
                max-height: 650px;
                object-fit: cover;
            }

            .slider__box-info{
                position: absolute;
                bottom: 0;

                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: space-between;
                z-index: 1;
                width: 100%;
                min-height: 350px;
                padding: 2rem 3rem;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,.95) 0%, rgba(0,0,0,0) 100%);

                .slider__title{
                    @extend .f-monument;
                    @extend .f-bt;
                    letter-spacing: 0.3rem;
                    font-weight: 700;
                    color: $cWhite;

                    .slider__subtitle{
                        @extend .f-hl1;
                        font-weight: 500;
                        margin-bottom: 1rem;
                        
                        &::before{
                            content: "|";
                            margin-right: 1rem;
                        }
                        

                    }

                    .slider__title--outline{
                        @extend .f-t1;
                        //font-size: clamp(1.25rem, 5vw, 2.25rem);
                        margin-left: .1rem;
                        color: transparent;
                        -webkit-text-stroke: 1.5px $cWhite;
                    }

                }

                .slider__btn{
                    @extend .btn__outline;
                    margin-bottom: 1rem;
                }
            }
        }

        #video1{
            .slider__subtitle{
                
                &::before{
                    color: $color2;
                }
                

            }
        }
    
        #video2, #video3{
            position: absolute;
            left: 0;
            top: 0;
            margin-top: auto;
            margin-bottom: auto;
            .slider__subtitle{
                
                &::before{
                    color: $color5;
                }
                

            }
        }
        
        
        #radio1:checked~#video1,
        #radio2:checked~#video2,
        #radio3:checked~#video3{
            opacity: 1;
            transition: all ease-in-out .5s;
        
        }
    
    }

    /* ---------- Slider nav ---------- */

    .slider__nav {

        .slider__link {
            border: 3px solid $cBlack;
            height: 16px;
            width: 18px;
            cursor: pointer;
            transition: 1s;
            position: relative;
            margin-top: 1rem;

            @include respond(sm) {
                width: 33.33333333%;
            }
        }
        
        .active{
            width: 100%;
            @include respond(sm) {
                width: 33.33333333%;
            }
        }
    
        .slider__link.active::after {
            content: " ";
            height: 140%;
            width: 100%;
            background-color: $cBlack;
            position: absolute;
            top: -2px;
            left: -2px;
            animation: carousel-active-nav-item 15s linear;
        }
        
        .slider__link:not(:last-child) {
            margin-right: 24px;
        }
        
        .slider__link:hover, .active2 {
            background: $cBlack;
            width: 100%;

            @include respond(sl) {
                width: 40%;
            }
        }
        
        @keyframes carousel-active-nav-item {
            from {
                width: 0%;
            }
        
            to {
                width: 100%;
            }
        
        }
    }
}
/*#t=30*/


/* -------------------- New Music -------------------- */

.new-music{
    grid-area: new-music;
    @extend .container-center;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 8%;

    .new-music__title{
        @extend .f-title;
        grid-column: span 6;
        justify-self: center;
    }
    .new-music__subtitle{
        @extend .f-subtitle;
        grid-column: span 6;
        justify-self: center;
        max-width: 800px;
    }

    .new-music__album{
        justify-self: center;
        width: fit-content;
        grid-column: span 6;
        margin:0rem 0rem 3rem;


        .new-music_link {
            width: fit-content;
            position: relative;
            transition: all ease-in-out .5s;

            &:hover{

                .new-music__img {
                    filter: brightness(0.3) hue-rotate(30deg);
                    transition: all ease-in-out .5s;
                }
            }
            &:hover::after{
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }

            &::after{
                opacity: 0;
                content: "Listen now";
                @extend .btn__primary;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(.9);
                transition: all ease-in-out .5s;
            }

            .new-music__img {
                width: 100%;
                max-width: 500px;
                position: relative;
            }
        }
    }
}

.new-music-background{
    grid-area: new-music;
    background-image: url(./assets/image/fondo1.jpg);
    background-size: cover;
    background-position: top;
    filter: brightness(0.5);
    z-index: -1;
    margin-top: 24rem;
    margin-bottom: 24rem;
    background-repeat: no-repeat;
}


@media screen and (min-width: 768px) { 

    .new-music__album:nth-child(3),
    .new-music__album:nth-child(4),
    .new-music__album:nth-child(5){

        margin-top: 100px;
    }

    .new-music__album:nth-child(3){
        transform: translate(0, -30px);
        grid-column: 1 / 4;
    }
    .new-music__album:nth-child(4){
        align-self: center;
        grid-row: 3 / 5;
        grid-column: 4 / 7;
    }
    .new-music__album:nth-child(5){
        grid-column: 1 / 4;
    }

}

@media screen and (min-width: 1024px) { 

    .new-music__album:nth-child(3),
    .new-music__album:nth-child(4),
    .new-music__album:nth-child(5){

        margin-top: 100px;
    }

    .new-music__album:nth-child(3){
        transform: translate(0, -30px);
        grid-column: 1 / 3;
    }
    .new-music__album:nth-child(4){
        transform: translate(0, 70px);
        grid-column: 3 / 5;
    }
    .new-music__album:nth-child(5){
        grid-column: 5 / 7;
    }

    .new-music-background{
        margin-bottom: 2rem;
    }
    

}


/* -------------------- Artists -------------------- */

.our-artists{
    grid-area: artists;
    @extend .container-center;
    width: inherit;

    .our-artists__box{
        grid-column: 1;
        grid-row: 1;

        .our-artists__title {
            @extend .f-title;
            text-align: start;
        }
    
        .our-artists__scroll-button {
            font-family: monospace;
            display: none;
            width: 40px;
            height: 40px;
            justify-self: end;
            z-index: 1;
            background: transparent;
            padding: 0.4rem 0.7rem 0.7rem 0.7rem;
            font-size: 1.6rem;
            line-height: 1rem;
            border: solid 2px black;
            color: black;
            margin-bottom: 1rem;
        }

        .our-artists__line{
            height: 2px !important;
            width: 100%;
            background: $cBlack;
            opacity: 1;
            margin: 1.2rem 1.2rem 1.2rem 2rem;
            display: none;
        }

    }
    
    
    .our-artists__list {
        grid-column: 1;
        grid-row: 1;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    
    }

    

}

@media screen and (min-width: 768px) { 


    /* -------------------- Artists -------------------- */

    .our-artists{

        display: grid;
    
        .our-artists__box{
            grid-column: 1;
            grid-row: 1;
            margin: 5rem 0;
    
            .our-artists__title {
                writing-mode: vertical-rl;
                transform:scale(-1);
                white-space: nowrap;
                margin-left: 0;
                margin-bottom: 0;
            }
            .our-artists__scroll-button {
                display: block;
            }
            .our-artists__line{
                
                display: block;
            }
    
        }
        
        
        .our-artists__list {
            grid-column: 1;
            overflow-x: auto;
            margin-left: 5rem;
            margin-top: 10rem;
        }
    
    }
}


/* -------------------- Playlists -------------------- */


.playlists{
    grid-area: playlists;
    @extend .container-center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    
    .playlists__title{
        @extend .f-title;
        grid-column: span 2;
        margin-bottom: 0;
    }

    .playlists__list{
        grid-column: span 2;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 16rem 0rem 3rem;

        .playlists__img{

            width: 100%;
            max-width: 500px;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
            transition: all ease-in-out .5s;
            cursor: pointer;


            &:nth-child(1) {
                position: absolute;
                transform: translate(0, -200px);

                &:hover{
                    transform: translate(0, -230px);

                    &~:nth-child(2){
                        transform: translate(0, -20px);
                    }

                    &~:nth-child(3){
                        transform: translate(0, 50px);
                    }
                
                }
            }
        
            &:nth-child(2) {
                box-shadow: 0px -30px 30px 0px rgba(0, 0, 0, .64);
                position: absolute;
                transform: translate(0, -90px);

                &:hover{
                    transform: translate(0, -180px);

                    &~:nth-child(3){
                        transform: translate(0, 50px);
                    }
                
                }
            }

            &:nth-child(3){
                box-shadow: 0px -30px 30px 0px rgba(0, 0, 0, .64);
                z-index: 1;
            }

            &:hover{
                filter: hue-rotate(135deg);
                transition: all ease-in-out .5s;
            }

            &--up{
                transform: translate(0, -230px) !important;
            }
            
        }

    }


    .playlists__songs{
        display: none;
        grid-column: span 2;
        margin: 2rem 0rem;

        .playlists__iframe{
            min-height: 500px;
            width: 100%;
            height: 100%;
        }
    }
    
}

.playlists-background{
    grid-area: playlists;
    background-image: url(./assets/image/fondo7.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) hue-rotate(110deg);
    z-index: -1;
    margin-top: 14.5rem;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {

    .playlists{
    
        .playlists__list{
        

            .playlists__img{
                max-width: 380px;
                width: 100%;
                margin-left: 140px;
                &:nth-child(1) {

                    transform: translate(-140px, -140px);
    
                    &:hover{
                        transform: translate(-140px, -250px); 
                    }
    
                    &:hover~:nth-child(2){
                        transform: translate(-60px, -10px);
                    }
    
                }
            
                &:nth-child(2) {
                    
                    transform: translate(-70px, -70px);
    
                    &:hover{
                        transform: translate(-70px, -250px);    
                    }
                    &:hover~:nth-child(3){
                        transform: translate(10px, 10px);
                    }
                }
                &:nth-child(3){
                    z-index: 1;
                    
    
                    
                }
    
                &:hover{
                    filter: hue-rotate(135deg);
                    transition: all ease-in-out .5s;
                }
            }
        }
    
        .playlists__songs{
            display: flex;
        }
    }

    .playlists-background{
        margin-bottom: 20rem;
    }
}

@media screen and (min-width: 1024px) { 

    .playlists{
    
        .playlists__title{
            margin-bottom: 3rem;
        }

        .playlists__list{
            grid-column: span 1;
            justify-content: start;

        }
    
        .playlists__songs{
            grid-column: span 1;
            justify-content: end;
            margin: 2rem 0rem;
            margin-left: 2rem;

        }
        
    }
    
    .playlists-background{
        margin-bottom: 8rem;
    }
    

}


/* -------------------- Radio -------------------- */

.radio {
    grid-area: radio;
    @extend .container-center;
    @include flex(column,nowrap);
    align-items: center;
    width: 100%;
    padding-left: 1rem;

    .radio__title{
        @extend .f-title;
        margin-bottom: 2rem;
        grid-column: span 2;
    }

    .radio__subtitle{
        @extend .f-subtitle;
        justify-self: center;
        max-width: 800px;
    }


    .radio__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;


        .radio__item{
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 3rem;

            .radio__num{
                
                display: none;
                min-width: 120px;
                        

                @extend .f-monument;
                font-size: clamp(4rem, 5vw, 4.5rem);
                line-height: calc(150%);
                color: transparent;
                -webkit-text-stroke: 2.5px #000000;
                margin-bottom: 0;
            }

            .radio__img{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 476px) {
    .radio__img{
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .radio {
    
        .radio__list{
    
            .radio__item{
                flex-direction: row;

                .radio__num{

                    display: flex;
                }

            }
        }
    }

}


/* -------------------- Suscribe -------------------- */

.suscribe {
    grid-area: suscribe;
    @extend .container-center;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    width: 100%;
    padding: 0 1rem;
    margin: 10rem 0;

    .suscribe__title{
        @extend .f-title2;
        color: $cWhite;

        margin-bottom: 1rem;
        max-width: 800px;
    }

    .suscribe__subtitle{
        @extend .f-subtitle2;
        color: $cWhite;

        margin-bottom: 3rem;
        max-width: 500px;
    }

    
}

.suscribe__form {

    @extend .formulario__form;
    

    .suscribe__email {
        @extend .formulario__input;

    }
    
    .suscribe__btn {
        @extend .formulario__btn;

        @include respond(sm) {
            border-left: 0;
            margin: 0;
        }

    
    }
    
}

.suscribe-background{
    grid-area: suscribe;
    background-image: url(./assets/image/suscribe.jpg);
    background-size: cover;
    filter: brightness(0.7) saturate(1.8);
    background-position: bottom;
    
    z-index: -1;
    background-repeat: no-repeat;
}



/* 




.radio__link:nth-child(1) {
    position: absolute;
    top: 0px;
    right: 5%;
}

.radio__link:nth-child(2) {
    position: absolute;
    top: 55px;
    left: 5%;
}

.radio__link:nth-child(1):hover{
    z-index: 2;
    animation: card1-in .4s cubic-bezier(0.8, 0.2, 0.1, 0.8);
    
}

.radio__link:nth-child(2):hover{
    z-index: 2;
    animation: card2-in .4s cubic-bezier(0.8, 0.2, 0.1, 0.8);
}

.radio__link:nth-child(3){
    z-index: 1;
    margin-top: 110px;
}

.radio__img {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}


.radio__link:hover .radio__img{
    filter: brightness(0.5);
    transition: all ease-in-out .5s;
}

.radio__link::after{
    opacity: 0;
    content: "Listen Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: $cWhite;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: var(--cBlack);
    transition: all ease-in-out .5s;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
}

.radio__link:nth-child(3)::after {
    margin-top: 55px;
}


.radio__link:hover::after{
    opacity: 1;
}


@keyframes card1-in {
    0% {
        z-index: 0;
    }
    50% {
        
        transform: translateX(20%);
    }    
}

@keyframes card2-in {
    0% {
        z-index: 0;
    }
    50% {
        
        transform: translateX(-20%);
    }
}



 */

