@import "../variables";

/* ------------------------------ Music ------------------------------ */

$music-img: minmax(240px, 1fr);


.main-music{


    .main-music__title{
        @extend .f-title;
        margin: 3rem;
        text-transform: uppercase;

        &::before{
            content: "-";
            @extend .f-title;
            margin-right: 3rem;
        }

        &::after{
            content: "-";
            @extend .f-title;
            margin-left: 3rem;
        }
    }

    .main-music__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, $music-img);
        gap: 1rem;
        @extend .container-full;
    }
}



.release {
    position: relative;

    .release__img {
        width: 100%;
    }

    
    .release__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        transition: all ease-in-out .5s;
        padding: 1rem;

                    
        .release__title {
            @extend .f-headline;
            color: $cWhite;
            margin-bottom: 1rem;
        }

        .release__artist {
            @extend .f-body;
            color: $cWhite;
            
        }

    }

    &:hover .release__info {
        opacity: 1;
        transition: all ease-in-out .5s;
    }

    &:nth-child(1){
        grid-column: 1/-1;
        grid-row: span 1/-1;
    }

}


@media screen and (min-width: 768px) { 

    
    .release {
    
        &:nth-child(1){
            grid-column: span 2;
            grid-row: span 2;
        }

    }
    


}


