@import "../variables";

/* ------------------------------ Music ------------------------------ */

$music-img: minmax(240px, 1fr);


.main-music{


    .main-music__title{
        @extend .f-title;
        margin: 3rem;
        text-transform: uppercase;

        &::before{
            content: "-";
            @extend .f-title;
            margin-right: 3rem;
        }

        &::after{
            content: "-";
            @extend .f-title;
            margin-left: 3rem;
        }
    }
}

.music{
    display: grid;
    grid-template-columns: repeat(auto-fit, $music-img);
    gap: 1rem;
    width: 100%;
    padding: 0 1.2rem;


    .music__release {
        position: relative;

        .music__img {
            width: 100%;
        }

        
        .music__name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0;
            transition: all ease-in-out.5s;
            padding: 1rem;

                        
            .music__album-title {
                @extend .f-headline;
                color: $cWhite;
                margin-bottom: 1rem;
            }

            .music__artist {
                @extend .f-body;
                color: $cWhite;
                
            }

        }

        &:hover .music__name {
            opacity: 1;
            transition: all ease-in-out.5s;
        }

        &:nth-child(1){
            grid-column: span 2;
            grid-row: span 2;
        }

    }
}



.modal-content{
    border: 0;
    border-radius: 0;
    .modal-body {
        padding: 0;
        height: 500px;
    }
}

@media screen and (min-width: 1440px) { 

    .music{
        width: 80%;
    }
    

}