@import "../variables";

/* ------------------------------ Redio ------------------------------ */

.main-radio{
    width: 100%;
    max-width: 1400px;
    justify-self: center;
}

.radio-episodes * {
    margin-bottom: 1rem;
    
}
